body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.piano {
    display: flex;
    align-items: flex-start;
    position: relative;

}