@use './_buttons';
@use './_layout';
@use './_piano';


body {
    text-align: center;
    background-color: #1450A3;
}

h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;

}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
    margin-top: 100px;

}