@use './_layout';
@use './_piano';

body {
    text-align: center;
    background-color: #074799;
}

h1 {
    font-size: 80px; // Default size for desktop
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;

    @media (max-width: 923px) and (min-width: 525px) {
        font-size: 64px; //  medium screens
    }

    @media (max-width: 524px) {
        font-size: 48px; //  mobile
    }
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
    margin-top: 100px;
    font-size: 19.2px; //  desktop size

    @media (max-width: 923px) and (min-width: 525px) {
        font-size: 16px; //  tablet screens
        margin-top: 80px;
    }

    @media (max-width: 524px) {
        font-size: 12.8px; //  mobile
        margin-top: 50px;
    }
}