@use './modules/_typography.scss' as typography;
@use './modules/devices.scss';
@use './modules/_palette';

// Variables for
$font-primary: 'Georgia', serif;
$font-secondary: 'Arial', sans-serif;
$color-text: #000;
$color-background: #fff;
$color-highlight: #cfcfcf;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-secondary;
    color: $color-text;
    background-color: $color-background;
    line-height: 1.6;
    font-size: typography.$font-size-base;


    @include devices.tablet {
        font-size: typography.$font-size-base + 0.125rem; // 0.125rem is equivalent to 2px
    }


    @include devices.laptop {
        font-size: typography.$font-size-base + 0.125rem; // 0.125rem for the increment
    }
}

//
.header {
    padding: typography.$default-margin 2rem;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-family: $font-primary;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $color-text;
            text-decoration: none;
        }

        .nav-links {
            display: flex;
            gap: 2rem;

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                font-size: typography.$font-size-base;
                color: $color-text;

                &:hover {
                    text-decoration: underline; // Hover effect
                }
            }


        }
    }

    // Mobile-first approach (tablet and below)
    @media (max-width: 768px) {
        .nav-links {
            display: none !important;
        }
    }

    // Tablet and larger screens
    @include devices.tablet {
        .navigation {
            flex-direction: row;
            justify-content: space-between;

            .nav-links {
                flex-direction: row;
                gap: typography.$default-margin;
                gap: 2rem; // Increase space between links
            }
        }
    }

    // Laptop and larger screens
    @include devices.laptop {
        .navigation {
            gap: typography.$default-margin;
        }
    }
}

// Hero Section
.hero {
    padding: 4rem 2rem;

    .hero-text {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        padding-left: 5%;

        h1 {
            font-family: $font-primary;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: typography.$font-size-base;
            max-width: 600px;
            margin-top: 0.5rem;
            line-height: 1.8;
        }
    }

    @include devices.tablet {
        .hero-text {
            padding-left: 10%;
        }
    }
}

// About Section
/* Default Mobile View: Image stacked above text */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  align-self: flex-start;
}

p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.8;
}

.about-image {
  margin-bottom: 1rem;
}

/* Mobile View */
@media (max-width: 767px) {
  .about-text {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

/* Intermediate screen size */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .about-image {
    order: 2;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .about-text {
    order: 1;
    margin-top: 2rem;
  }
}

/* Larger screens */
@media (min-width: 1025px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .about-image {
    order: 2;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .about-text {
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

h2 {
    font-family: $font-primary;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    align-self: flex-start;
}

p {
    font-size: typography.$font-size-base; // typography variable for base font size
    margin: 0;
}

// Tablet view and larger
@include devices.laptop {

    .about-content {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between; // Space between the image and text
    }

    .about-image {
        order: 2;
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .about-text {
        order: 1;
    }
}

// Non-mobile view styles
@media (min-width: 768px) { // Adjust the min-width as needed for non-mobile view
  .about-text {
    margin-top: 2rem;
  }
}

.about-content h2 {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

//skills section
.skills {
    padding: 2rem;

    .skills-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem; // Space between h2 and paragraph
        margin-bottom: 2.5rem;

        @include devices.tablet {
            flex-direction: row; // Arrange h2 and paragraph side by side on tablets and larger
            align-items: center;
        }

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            margin: 0;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 1rem;

        @include devices.tablet {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, auto);
        }

        @include devices.phone {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .img-icon {
        max-width: 120px;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
}

/* Hide skills section on mobile view */
@media (max-width: 767px) {
    .skills {
        display: none;
    }
}

//Portfolio section

.portfolio-header h2 {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.flexible {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.tile {
    background-color: #f5f3f4;
    height: 35rem;
    width: 25rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s;
    padding: 1.5rem;
    margin: 1.5rem;
}

@media (max-width: 680px) {
    .tile {
        width: auto;
        max-width: 100%;
        min-width: 20rem;
        margin: 1.5rem auto;
        height: auto;
    }
}

.tile img {
    width: 100%;
    max-width: 48rem;
    border-radius: 0.5rem;
}

.tile h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
    color: $color-text;
    margin: 0px;
    text-align: left;
    padding-left: 2rem;
}

.tile p {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

.fa-github {

    margin-left: 220px;
}

// contact section



.contact {
    text-align: center;
    margin-bottom: 2rem;
    padding: 4rem 2rem;


    .contact-heading {
        font-size: 2rem;
        color: black;
        margin-bottom: 2rem;

    }

    .contact-button {
        font-size: 2rem;
        padding: 1rem 2rem;
        color: black;
        background-color: white; // White background for the button
        border: 2px solid black; // Black border for the button
        transition: background-color 0.3s, border-color 0.3s;
        text-decoration: none;

        &:hover {
            background-color: green;
            border-color: green; // Change border color on hover
        }
    }
}


//footer section

footer {
    .socials {
        background-color: black; // Black background only for the footer section with social icons
        padding: 2rem;
        text-align: center;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            gap: 2rem;

            li {
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black; // Circular white background
                    color: white;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    font-size: 2rem;
                    transition: transform 0.3s, color 0.3s;


                    i {
                        margin: 0;
                    }
                }

                .cv {
                    width: 38px;
                }

                @include devices.tablet {
                    ul li a {
                        width: 3.5rem;
                        height: 3.5rem;
                        font-size: 1.8rem;
                    }
                }

                @include devices.phone {
                    ul li a {
                        width: 3rem;
                        height: 3rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
