* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.6;
  font-size: 1rem;
}
@media only screen and (min-width: 361px) and (max-width: 1365px) {
  body {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    font-size: 1.125rem;
  }
}

.header {
  padding: 0.625rem 2rem;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navigation .logo {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.header .navigation .nav-links {
  display: flex;
  gap: 2rem;
}
.header .navigation .nav-links li {
  list-style: none;
}
.header .navigation .nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}
.header .navigation .nav-links a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .header .nav-links {
    display: none !important;
  }
}
@media only screen and (min-width: 361px) and (max-width: 1365px) {
  .header .navigation {
    flex-direction: row;
    justify-content: space-between;
  }
  .header .navigation .nav-links {
    flex-direction: row;
    gap: 0.625rem;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1366px) {
  .header .navigation {
    gap: 0.625rem;
  }
}

.hero {
  padding: 4rem 2rem;
}
.hero .hero-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding-left: 5%;
}
.hero .hero-text h1 {
  font-family: "Georgia", serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero .hero-text p {
  font-size: 1rem;
  max-width: 600px;
  margin-top: 0.5rem;
  line-height: 1.8;
}
@media only screen and (min-width: 361px) and (max-width: 1365px) {
  .hero .hero-text {
    padding-left: 10%;
  }
}

/* Default Mobile View: Image stacked above text */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  align-self: flex-start;
}

p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.8;
}

.about-image {
  margin-bottom: 1rem;
}

/* Mobile View */
@media (max-width: 767px) {
  .about-text {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}
/* Intermediate screen size */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .about-image {
    order: 2;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .about-text {
    order: 1;
    margin-top: 2rem;
  }
}
/* Larger screens */
@media (min-width: 1025px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .about-image {
    order: 2;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .about-text {
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
h2 {
  font-family: "Georgia", serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  align-self: flex-start;
}

p {
  font-size: 1rem;
  margin: 0;
}

@media only screen and (min-width: 1366px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
  }
  .about-image {
    order: 2;
    margin-left: 2rem;
    margin-bottom: 0;
  }
  .about-text {
    order: 1;
  }
}
@media (min-width: 768px) {
  .about-text {
    margin-top: 2rem;
  }
}
.about-content h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.skills {
  padding: 2rem;
}
.skills .skills-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 361px) and (max-width: 1365px) {
  .skills .skills-header {
    flex-direction: row;
    align-items: center;
  }
}
.skills .skills-header h2 {
  font-size: 2rem;
  margin: 0;
}
.skills .skills-header p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
}
@media only screen and (min-width: 361px) and (max-width: 1365px) {
  .skills .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media only screen and (max-width: 360px) {
  .skills .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.skills .img-icon {
  max-width: 120px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* Hide skills section on mobile view */
@media (max-width: 767px) {
  .skills {
    display: none;
  }
}
.portfolio-header h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.flexible {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.tile {
  background-color: #f5f3f4;
  height: 35rem;
  width: 25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
  padding: 1.5rem;
  margin: 1.5rem;
}

@media (max-width: 680px) {
  .tile {
    width: auto;
    max-width: 100%;
    min-width: 20rem;
    margin: 1.5rem auto;
    height: auto;
  }
}
.tile img {
  width: 100%;
  max-width: 48rem;
  border-radius: 0.5rem;
}

.tile h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #000;
  margin: 0px;
  text-align: left;
  padding-left: 2rem;
}

.tile p {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

.fa-github {
  margin-left: 220px;
}

.contact {
  text-align: center;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
}
.contact .contact-heading {
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
}
.contact .contact-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: black;
  background-color: white;
  border: 2px solid black;
  transition: background-color 0.3s, border-color 0.3s;
  text-decoration: none;
}
.contact .contact-button:hover {
  background-color: green;
  border-color: green;
}

footer .socials {
  background-color: black;
  padding: 2rem;
  text-align: center;
}
footer .socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
footer .socials ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  transition: transform 0.3s, color 0.3s;
}
footer .socials ul li a i {
  margin: 0;
}
footer .socials ul li .cv {
  width: 38px;
}
@media only screen and (min-width: 361px) and (max-width: 1365px) {
  footer .socials ul li ul li a {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 360px) {
  footer .socials ul li ul li a {
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}
